body {
    background-color: #ffe4f0;
    color: #4a004a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* CABEÇALHO */
#cabecalho {
    background-color: #ffb6d9;
    text-align: center;
    padding: 20px;
    border: 2px solid #ff69b4;
}

#nome-personagem {
    font-size: 36px;
    color: #ff1493;
    font-weight: bold;
}

#titulo-personagem {
    font-size: 18px;
}

/* CONTEÚDO */
#conteudo-principal {
    margin: 20px;
    padding: 20px;
}

/* APRESENTAÇÃO */
#secao-apresentacao {
    display: flex;
    gap: 20px;
}

#imagem-personagem {
    width: 200px;
    border-radius: 15px;
    border: 3px solid #ff69b4;
}

#bloco-descricao {
    padding: 10px;
}

/* TÍTULOS */
.titulo-secao {
    font-size: 22px;
    color: #ff1493;
    margin: 10px 0;
}

/* TEXTO */
.texto-descricao {
    font-size: 16px;
    margin: 10px;
}

/* ATRIBUTOS */
#grade-atributos {
    display: flex;
    gap: 10px;
}

.card-atributo {
    border: 2px solid #ff69b4;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffd6ec;
}

/* HABILIDADES */
.card-habilidade {
    border: 2px solid #ff69b4;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* CURIOSIDADES */
.item-curiosidade {
    margin: 5px;
}

/* FRASE */
#frase-personagem {
    font-style: italic;
    text-align: center;
}

/* RODAPÉ */
#rodape {
    text-align: center;
    padding: 10px;
    background-color: #ffb6d9;
}

#nome-aluno {
    font-weight: bold;
}
